.about-container {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1vw;
    background-color: var(--main-color-1);
    box-shadow: -0.5vw 0.5vw 0.5vw var(--main-color-2);
}
.about-section-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about-section-title {
    display: flex;
    color: var(--accent-color);
    justify-content: center;
}
.about-skills {
    display: flex;
    flex-shrink: 0;
}
.about-skills img {
    width: 50px;
}
#edu h2 {
    margin-top: 0;
}
.about-education ul, .about-interests ul {
    margin: 0;
}
.about-goals ul {
    margin-top: 0;
}

@media (min-width: 800px) {
    .about-skills img {
        width: 8vw;
        max-width: 100px;
    }
}

@media (max-width: 320px) {
    .about-skills img {
        width: 15vw;
    }
}
