.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-title h3 {
    color: #1434A4;
}
.contact-form {
    display: flex;
    flex-direction: column;
}
.contact-form textarea {
    width: 50vw;
    height: 5rem;
    margin-bottom: 1rem;
    border-radius: 1vw;
    padding: 1vw;

    background-color: #E7E7E7E7;
    border: 2px solid #DEE4E7;
}

.contact-form textarea:focus {
    outline: none;
    border: 2px solid #37474F;
}
.contact-form .sendMessageDiv {
    display: flex;
    justify-content: center;
    height: 40px;
}
.contact-form .sendMessageDiv button {
    align-self: center;
    width: 100px;
    height: 25px;
    background-color: #DEE4E7;
    color: #1434A4;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    box-shadow: -5px 5px 5px #263238;
}
.contact-form .sendMessageDiv button:disabled {
    color: #222222;
}
.contact-form .sendMessageDiv button:enabled:hover {
    cursor: pointer;
}
.contact-form .sendMessageDiv button:enabled:active {
    box-shadow: none;
    transform: translate(-5px, 5px);
}

/* Message Sent Animation */
.messageTextArea.sent {
    animation: shrink 1s linear;
}
@keyframes shrink {
    0% {width: 40vw;}
    25% {width: 30vw;}
    50% {width: 20vw;}
    75%{width: 10vw;}
    100%{width: 0vw; visibility: hidden; opacity: 0;}
}
.messageSentConfirmation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 5rem;
    border: 2px solid #DEE4E7;
    background-color: #E7E7E7E7;
    padding: 1vw;
    gap: 1vw;
    margin-bottom: 1rem;
    border-radius: 1vw;
}
.messageSentConfirmation img {
    filter: invert(16%) sepia(35%) saturate(6634%) hue-rotate(226deg) brightness(87%) contrast(101%);
}
/**/

/* Dark Mode */
body.dark .contact-title h3 {
    color: #7DF9FF;
}
body.dark .contact-form textarea {
    background-color: #37474F;
    color: #DEE4E7;
    border: 2px solid #37474F;
}
body.dark .contact-form textarea:focus {
    outline: none;
    border: 2px solid #DEE4E7;
}
body.dark .contact-form .sendMessageDiv button {
    background-color: #37474F;
    box-shadow: -5px 5px 5px #263238;
    color: #7DF9FF;
}
body.dark .contact-form .sendMessageDiv button:disabled {
    color: #F7F7F7;
}
body.dark .messageSentConfirmation {
    border: 2px solid #37474F;
    background-color: #37474F;
    color: #DEE4E7;
}
body.dark .messageSentConfirmation img {
    filter: invert(83%) sepia(33%) saturate(952%) hue-rotate(160deg) brightness(108%) contrast(103%);
}

@media (max-width: 800px) {
    .messageSentConfirmation {
        font-size: 3vw;
    }
    .contact-form textarea, .messageSentConfirmation {
        width: 70vw;
    }
}
@media (max-width: 500px) {
    .messageSentConfirmation {
        font-size: 3vw;
    }
    .contact-form textarea, .messageSentConfirmation {
        width: 80vw;
    }
}