.footer-container {
    padding-bottom: 1rem;
}
.footer-content {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}
.footer-content img, #email {
    width: 35px;
    z-index: 1;
}
.footer-content img:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.footer-email-content {
    font-weight: 600;
    display: flex;
    width: 30px;
    gap: 1vw;
}
.footer-revealedText {
    display: flex;
    align-items: center;
}
.footer-revealedText span {
    color: var(--base-color);
}
.footer-email-content.reveal .footer-revealedText {
    animation: slideRight 1s forwards;
}
.footer-email-content.hide .footer-revealedText {
    opacity: 0;
}
.footer-content #github {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(41deg) brightness(106%) contrast(101%);
}
.footer-content #email {
    filter: grayscale(100%);
}
.footer-email-content.reveal #email {
    filter: none;
}
@keyframes slideRight {
    0% { margin-left:-50px; }
    20% { margin-left:0px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

.wave {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30vh;
}
.wave .shape-fill {
    fill: var(--accent-color);
}

/* Dark Mode */
body.dark .footer-content #github {
    filter: invert(13%) sepia(18%) saturate(0%) hue-rotate(211deg) brightness(101%) contrast(101%);
}

/* Changes how email slides out */
@media (max-width: 850px) {
    .footer-container {
        padding-bottom: 2rem;
    }
    .footer-content {
        align-items: baseline;
    }
    .footer-email-content {
        flex-direction: column;
    }
    .footer-revealedText {
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 5px;
        right: 0; 
        width: 100vw
    }
    .footer-email-content.reveal .footer-revealedText {
        animation: condensedSlideRight 0.5s forwards;
    }
    @keyframes condensedSlideRight {
        0% { right: 20vw; }
        20% { right: 10vw; }
        35% { right: 0; }
        100% { right: 0; }
    }
}
