.header-container {
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header-content {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    padding: 1rem;
    border: 1px solid wheat;
}

.header-displayedText, .header-revealedText {
    font-size: 5vmin;
    display: inline-block;
    overflow:hidden;
    white-space:nowrap;
}

.header-displayedText { 
    animation: showup 7s infinite; 
}

.header-revealedText {
    width:0px;
    animation: reveal 7s infinite; 
}

.header-revealedText span {
    margin-left:-355px;
    animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:fit-content;}
    80% {opacity:1;}
    100% {opacity:0;width: fit-content;}
}

@media (max-width: 800px) {
    .header-displayedText, .header-revealedText {
        font-size: 4vmin;
    }
    .header-content {
        gap: 0.3em;
    }
}
