.header-container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 2px #222222;
}
.headerImg img {
    display: flex;
    width: 100vw;
    max-width: 100%;
}
.header-content {
    position: absolute;
    display: flex;
    gap: 0.5em;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    color: #1134A6;
}

.header-displayedText, .header-revealedText {
    font-size: 5vmin;
    display: inline-block;
    overflow:hidden;
    white-space:nowrap;
}

.header-displayedText { 
    animation: showup 7s infinite; 
}

.header-revealedText {
    width:0px;
    animation: reveal 7s infinite; 
}

.header-revealedText span {
    margin-left:-355px;
    animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:fit-content;}
    80% {opacity:1;}
    100% {opacity:0;width: fit-content;}
}

@media (max-width: 800px) {
    .header-displayedText, .header-revealedText {
        font-size: 4vmin;
    }
    .header-content {
        gap: 0.3em;
    }
}

/* Dark Mode */
body.dark .header-container {
    box-shadow: 0px 2px 2px #37474F;
}
body.dark .header-content {
    background-color: rgba(34, 34, 34, 0.8);
    color: #7DF9FF;
}