.navbar {
    position: fixed;
    align-self: baseline;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: white;
    height: 8vh;
    z-index: 1;
}
.left-links, .navbar-links {
    margin: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
}

.left-links {
    box-sizing: border-box;
    gap: 2vw;
}

/* Light/dark mode */
.light-dark-mode {
    display: flex;
    justify-content: center;
    align-items: center;
}
.light-dark-mode input {
    position: absolute;
    opacity: 0;
}
.light-dark-mode .light-dark-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    

    /* Going to have to change units to make responsive */
    border: 2px solid black;
    padding: 5px;
    border-radius: 22px;
    width: 50px;
    height: 20px;
}
.light-dark-mode .light-dark-label img {
    /* Going to have to change units to make responsive */
    width: 20px;
}
#moon {
    filter: invert(100%) sepia(0%) saturate(4211%) hue-rotate(34deg) brightness(112%) contrast(70%);
}
#sun {
    filter: invert(85%) sepia(27%) saturate(7226%) hue-rotate(8deg) brightness(103%) contrast(105%);
}
.light-dark-mode .toggle-slider {
    position: absolute;
    background-color: black;

    /* Going to have to change units to make responsive */
    width: 22px;
    height: 22px;
    border-radius: 22px;
    transition: transform 0.2s linear;
}
.light-dark-mode #light-dark-checkbox:checked + .light-dark-label .toggle-slider {
    transform: translateX(30px);
}
/**/

.navbar-links {
    gap: 0.5rem;
}
.navbar-individual-link {
    padding: 1vw;
}
.navbar-clickable {
    border: none;
    background:none;
    margin: 0;
}
.navbar-clickable:hover {
    cursor: pointer;
}
#navbar-resume {
    font-size: large;
    color: blue;
}
#homeBtn {
    padding: 0;
}

/* Will have to edit if adding light/dark button */
@media (max-width: 500px) {
    .navbar {
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .navbar-links, .left-links {
        margin: 0;
        gap: 0;
    }
    .navbar {
        gap: 5vw;
    }
}

@media (max-width: 350px) {
    .navbar {
        gap: 0;
    }
    .navbar-links, .left-links {
        margin: 0;
        gap: 0;
    }
    .navbar-individual-link button, #navbar-resume {
        font-size: small;
    }
    #homeBtnImg {
        width: 10vw;
    }
}