.navbar {
    position: fixed;
    align-self: baseline;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: #DEE4E7;
    height: 8vh;
    z-index: 1;
    box-shadow: 0px 2px 2px #222222;
}
.left-links, .navbar-links {
    margin: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
}

.left-links {
    box-sizing: border-box;
    gap: 2vw;
}

/* Light/dark mode */
.light-dark-mode {
    display: flex;
    justify-content: center;
    align-items: center;
}
.light-dark-mode input {
    position: absolute;
    opacity: 0;
}
.light-dark-mode .light-dark-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F7F7F7;
    
    /* Going to have to change units to make responsive */
    border: 2px solid #222222;
    padding: 5px;
    border-radius: 22px;
    width: 50px;
    height: 20px;
}
#light-dark-checkbox {
    z-index: -1;
}
.light-dark-mode .light-dark-label img {
    /* Going to have to change units to make responsive */
    width: 20px;
}
#moon {
    filter: invert(100%) sepia(0%) saturate(5014%) hue-rotate(179deg) brightness(113%) contrast(94%);
}
#sun {
    filter: invert(83%) sepia(42%) saturate(4398%) hue-rotate(354deg) brightness(109%) contrast(102%);
}
.light-dark-mode .toggle-slider {
    position: absolute;
    background-color: #222222;

    /* Going to have to change units to make responsive */
    width: 22px;
    height: 22px;
    border-radius: 22px;
    transition: all 0.2s linear;
}
.light-dark-mode #light-dark-checkbox:checked + .light-dark-label .toggle-slider {
    transform: translateX(30px);
}
/**/

.navbar-links {
    gap: 0.5rem;
}
.navbar-individual-link {
    padding: 1vw;
}
.navbar-individual-link button {
    color: #222222;
}
.navbar-clickable {
    border: none;
    background:none;
    margin: 0;
    font-size: 2vh;
}
.navbar-clickable:hover {
    cursor: pointer;
}
#navbar-resume {
    font-size: 2vh;
    color: #2196F3;
}
#homeBtn {
    padding: 0;
}
#homeBtnImg {
    filter: invert(11%) sepia(0%) saturate(18%) hue-rotate(145deg) brightness(96%) contrast(93%);
}

/* Condensed Navbar */
.navbar.condensed {
    justify-content: space-between;
}
.navbar.condensed .left-links {
    margin-left: 2vw;
}
.navbar.condensed #optionsMenu {
    padding: 0;
}
.navbar-links.condensed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2vw;
}
.navbar-condensed-dropdown {
    display: none;
}
.navbar-condensed-dropdown.open {
    display: block;
    position: absolute;
    top: 8vh;
    background-color: #E8E6E1;
    border-radius: 0 0 2vw 2vw;
    right: 0;
}
.navbar-links.condensed .navbar-condensed-dropdown.open .navbar-individual-link button {
    font-size: 10vw;
    margin-right: 2vw;
}
.navbar-links.condensed .navbar-condensed-dropdown.open .navbar-individual-link #navbar-resume   {
    font-size: 10vw;
}
/**/

/* Navbar changes when height goes under 500px  */