.projects-container {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1vw;
}
.project-example {
    width: 45vw;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    align-items: center;
    padding: 0 1vw 1vw 1vw;
    border-radius: 1vw;
    background-color: #E7E7E7E7;
    box-shadow: -0.5vw 0.5vw 0.5vw #37474F;
}
.project-title h3 {
    color: #2196F3;
}
.project-demo video {
    border-radius: 1vw;
}

@media (min-width: 1000px) {
    .project-demo video {
        width: 40vw;
    }
}

@media (max-width: 999px) {
    .project-example {
        margin-bottom: 1rem;
        width: 100%;
    }
    video {
        width: 80vw;
    }
}


/* Dark Mode */
body.dark .project-example {
    background-color: #37474F;
    box-shadow: -0.5vw 0.5vw 0.5vw #263238;
    color: #F7F7F7;
}