.projects-container {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1vw;
}
.project-example {
    width: 45vw;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    align-items: center;
    padding: 0 1vw 1vw 1vw;
    border-radius: 1vw;
    background-color: var(--main-color-1);
    box-shadow: -0.5vw 0.5vw 0.5vw var(--main-color-2);
    color: var(--text-color);
}
.project-title h3 {
    color: var(--accent-color);
}
.project-description p a {
    text-decoration: none;
    color: var(--accent-color);
}
.project-description p a:hover {
    text-shadow: 0 0 2rem var(--accent-color);
}

.project-demo video {
    border-radius: 1vw;
}

@media (min-width: 1000px) {
    .project-demo video {
        width: 40vw;
    }
}

@media (max-width: 999px) {
    .project-example {
        margin-bottom: 1rem;
        width: 100%;
    }
    video {
        width: 80vw;
    }
}
