@font-face {
    font-family: Exo_2;
    src: url('./fonts/Exo_2/Exo2-VariableFont_wght.ttf');
}

body {
    margin: 0;
}
html, button, input {
    font-family: Exo_2;
}

.about-container, .projects-container, .project-example {
    margin: 0 1rem 1rem 1rem;
}

.page-content {
    margin-top: 8vh;
    position: absolute;
    width: 100%;
}

/* Dark Mode */
body.dark .navbar {
    background-color: #121212;
}
body.dark .navbar button {
    color: #F7F7F7;
}
body.dark #homeBtnImg {
    filter: invert(100%) sepia(0%) saturate(5014%) hue-rotate(179deg) brightness(113%) contrast(94%);
}
body.dark .navbar .light-dark-label {
    background-color: #121212;
    border: 2px solid #F7F7F7;
}
body.dark .navbar .toggle-slider {
    background-color: #F7F7F7;
}
body.dark .header-content {
    background-color: #12121280;
    color: #F7F7F7;
}
body.dark #optionsMenu {
    filter: invert(100%) sepia(0%) saturate(5014%) hue-rotate(179deg) brightness(113%) contrast(94%);
}
body.dark .navbar-condensed-dropdown.open {
    background-color: #27241D;
}
