@font-face {
    font-family: Exo_2;
    src: url('./fonts/Exo_2/Exo2-VariableFont_wght.ttf');
}

body {
    margin: 0;
}
html, button, input {
    font-family: Exo_2;
}

.about-container, .projects-container {
    margin: 0 1rem 1rem 1rem;
}

.page-content {
    margin-top: 8vh;
    position: absolute;
    width: 100%;
}

/* Dark Mode  #7DF9FF*/
body.dark {
    background-color: #222222;
}
body.dark .about-container, body.dark .project-example {
    background-color: #37474F;
    box-shadow: -0.5vw 0.5vw 0.5vw #263238;
}
body.dark .about-container .about-section-content {
    color: #F7F7F7;
}
