@font-face {
    font-family: Exo_2;
    src: url('./fonts/Exo_2/Exo2-VariableFont_wght.ttf');
}

body {
    margin: 0;
}
html, button, input {
    font-family: Exo_2;
}

.about-container, .projects-container, .project-example {
    margin: 0 1rem 1rem 1rem;
}

.page-content {
    margin-top: 8vh;
    position: absolute;
    width: 100%;
}